In [1]:
import pandas as pd

I.Series 單維度的資料

In [3]:
series_data =  pd.Series([5, 12, 17, 99, 22, 33])
print(series_data)
print("---------------")
print("Max:", series_data.max())
print("Median:", series_data.median()) #中位數
print("---------------")
series_data = series_data * 2
print(series_data)
print("---------------")
series_data = series_data == 34
print(series_data)

0     5
1    12
2    17
3    99
4    22
5    33
dtype: int64
---------------
Max: 99
Median: 19.5
---------------
0     10
1     24
2     34
3    198
4     44
5     66
dtype: int64
---------------
0    False
1    False
2     True
3    False
4    False
5    False
dtype: bool

  a.資料索引

In [4]:
series_data2 = pd.Series([5, 4, -2, 3, 7], index = ["a", "b", "c", "d", "e"])
print(series_data2)

a    5
b    4
c   -2
d    3
e    7
dtype: int64

  b.觀察資料

In [5]:
print("Data Type:", series_data2.dtype)
print("Data Size:", series_data2.size)
print("Data Index:", series_data2.index)

Data Type: int64
Data Size: 5
Data Index: Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

c.取得資料

In [6]:
print(series_data2[0], series_data2[3])
print(series_data2["c"])

5 3
-2

d.數字運算

In [7]:
print("最小值:", series_data2.min())
print("總合:", series_data2.sum())
print("標準差:", series_data2.std())
print("最大2個數:", series_data2.nlargest(2))

最小值: -2
總合: 17
標準差: 3.361547262794322
最大2個數: e    7
a    5
dtype: int64

e.字串運算

In [8]:
series_data3 = pd.Series(["早安", "晚安", "Good Morning", "Good Night"])
print(series_data3.str.lower()) #轉小寫
print("---------------")
print(series_data3.str.len())   #算每個字串長度
print("---------------")
print(series_data3.str.cat(sep = ","))
print("---------------")
print(series_data3.str.contains("G"))   #判斷每個字串是否含特定字元
print("---------------")
print(series_data3.str.replace("G", "Z"))   #取代

0              早安
1              晚安
2    good morning
3      good night
dtype: object
---------------
0     2
1     2
2    12
3    10
dtype: int64
---------------
早安,晚安,Good Morning,Good Night
---------------
0    False
1    False
2     True
3     True
dtype: bool
---------------
0              早安
1              晚安
2    Zood Morning
3      Zood Night
dtype: object

II.DataFrame 雙維度試算表的資料

In [9]:
df_data =  pd.DataFrame({
    "Name": ["Tom", "Sara", "John", "Amy"],
    "Age":[15, 18, 17, 19]
})
print(df_data)
print("---------------")

   Name  Age
0   Tom   15
1  Sara   18
2  John   17
3   Amy   19
---------------

a.觀察資料

In [10]:
df_data =  pd.DataFrame({
    "Name": ["Tom", "Sara", "John", "Amy"],
    "Age":[15, 18, 17, 19]
}, index = ["a", "b", "c", "d"])
print("Data Size:", df_data.size)
print("Data Shape(Row, Col):", df_data.shape)
print("Data Index:", df_data.index)

Data Size: 8
Data Shape(Row, Col): (4, 2)
Data Index: Index(['a', 'b', 'c', 'd'], dtype='object')

b.取得Row Data

In [11]:
print(df_data.iloc[0])  #第一列
print(df_data.loc["b"])

Name    Tom
Age      15
Name: a, dtype: object
Name    Sara
Age       18
Name: b, dtype: object

c.取得Column Data

In [12]:
print(df_data["Name"])
print("---------------")
names = df_data["Name"] #把name資料存成Series
print(names.str.upper())
print("---------------")
age = df_data["Age"]
print(age.mean()) #平均值

a     Tom
b    Sara
c    John
d     Amy
Name: Name, dtype: object
---------------
a     TOM
b    SARA
c    JOHN
d     AMY
Name: Name, dtype: object
---------------
17.25

d.新增新欄位

In [13]:
df_data["Sex"] = ["M", "F", "M", "F"]
print(df_data) 
print("---------------")
df_data["Score"] = pd.Series([86, 95, 87, 99], index = ["a", "b", "c", "d"])
print(df_data) 
print("---------------")
df_data["%"] = df_data["Score"] / df_data["Score"].sum() * 100
print(df_data)

   Name  Age Sex
a   Tom   15   M
b  Sara   18   F
c  John   17   M
d   Amy   19   F
---------------
   Name  Age Sex  Score
a   Tom   15   M     86
b  Sara   18   F     95
c  John   17   M     87
d   Amy   19   F     99
---------------
   Name  Age Sex  Score          %
a   Tom   15   M     86  23.433243
b  Sara   18   F     95  25.885559
c  John   17   M     87  23.705722
d   Amy   19   F     99  26.975477

III.資料篩選

In [15]:
data = pd.Series([30, 15, 20])
condition = data > 18
print(condition.tolist())
filteredData = data[condition]
print(filteredData.tolist())

data = pd.Series(["早安", "Good Afternoon", "Good Night"])
condition = data.str.contains("G")
filteredData = data[condition]
print(filteredData.tolist())

[True, False, True]
[30, 20]
['Good Afternoon', 'Good Night']

In [20]:
df_data =  pd.DataFrame({
    "Name": ["Tom", "Sara", "John", "Amy"],
    "Age":[15, 18, 17, 19]
})
print(df_data)
print("---------------")
condition = df_data["Age"] > 17
print(df_data[condition])
print("---------------")
condition = df_data["Name"] == "Sara"
print(df_data[condition])

   Name  Age
0   Tom   15
1  Sara   18
2  John   17
3   Amy   19
---------------
   Name  Age
1  Sara   18
3   Amy   19
---------------
   Name  Age
1  Sara   18